.home {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  padding-bottom: 20px;
}

.home-head {
  font-family: roboto;

  font-size: 30px;

  font-weight: bold;

  color: #2563eb;
}

@media screen and (min-width: 786px) {
  .home-head {
    font-family: roboto;

    font-size: 50px;

    font-weight: bold;

    color: #2563eb;
  }
}

.home-para {
  font-family: roboto;

  font-size: 18px;

  font-weight: 500;

  color: #475569;
}

@media screen and (min-width: 786px) {
  .home-para {
    font-family: roboto;

    font-size: 30px;

    font-weight: bold;

    color: #475569;
  }
}

.home-img {
  height: 200px;

  width: 300px;

  margin-bottom: 20px;
}

@media screen and (min-width: 786px) {
  .home-img {
    height: 300px;

    width: 400px;

    margin-bottom: 30px;
  }
}

.button {
  font-family: roboto;

  font-size: 15px;

  font-weight: 500;

  color: #ffffff;

  background-color: #3b82f6;

  border-radius: 6px;

  border: none;

  padding: 10px;
}
